.AddTournament--main {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.AddTournament--main > form {
  width: 500px;
}

.AddTournament--form-element {
  display: flex;
  flex-direction: column;
  margin: 15px;
}

.AddTournament--form-element-checkbox {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 15px;
}

.AddTournament--form-element > label {
  font-family: "Bebas Neue", sans-serif;
  font-weight: bold;
  font-size: 25px;
  color: #555;
  margin-right: 5px;
  margin-top: 5px;
  margin-bottom: 5px;
}

.AddTournament--form-element-checkbox > label {
  margin-right: 5px;
  margin-top: 5px;
  margin-bottom: 5px;
  font-size: 25px;
  color: #555;
  font-weight: bold;
  line-height: 1.5;
  font-family: "Bebas Neue", sans-serif;
}

.AddTournament--form-element > input,
.AddTournament--form-element-checkbox > input {
  font-family: "Montserrat", sans-serif;
  font-size: 18px;
  width: 100%;
  background-color: #f7f7f7;
  border: 1px solid #e6e6e6;
  height: 40px;
  border-radius: 10px;
}

.AddTournament--form-element-checkbox > input {
  width: 25px;
}

.AddTournament--submit-button-box {
  display: flex;
  width: 100%;
  align-items: center;
  flex-direction: column;
}

.AddTournament--submit-button {
  -webkit-transition: all 0.4s;
  -o-transition: all 0.4s;
  -moz-transition: all 0.4s;
  transition: all 0.4s;
  cursor: default;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 20px;
  height: 60px;
  background-color: rgb(37, 31, 31);
  border-radius: 10px;
  font-family: "Bebas Neue", sans-serif;
  font-size: 28px;
  color: rgb(216, 216, 216);
  margin: 10px;
  width: 80%;
}

.AddTournament--submit-button:hover {
  box-shadow: 0 0 11px rgb(37, 31, 31);
}
