.AddTournament {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.AddTournament--form {
  width: 500px;
}
.AddTournament--form-element {
  margin: 20px 0px;
}

.AddTournament--form-element-checkbox {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 15px;
}

.AddTournament--form-element-checkbox > input {
  height: 40px;
  width: 25px;
}

.AddTournament--submit-button-box {
  display: flex;
  width: 100%;
  align-items: center;
  flex-direction: column;
}

.AddTournament--submit-button {
  -webkit-transition: all 0.4s;
  -o-transition: all 0.4s;
  -moz-transition: all 0.4s;
  transition: all 0.4s;
  cursor: default;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 20px;
  height: 60px;
  background-color: rgb(37, 31, 31);
  border-radius: 10px;
  /* font-family: "Bebas Neue", sans-serif; */
  font-family: "PT Serif", serif;
  font-size: 28px;
  color: rgb(216, 216, 216);
  margin: 10px;
  width: 80%;
}

.AddTournament--submit-button:hover {
  box-shadow: 0 0 11px rgb(37, 31, 31);
}
