.Calendar--main-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 10px;
}

.Calendar--detail-window {
  display: flex;
  align-items: center;
  justify-content: center;
}

.Calendar--detail-window > div > p {
  font-size: 20px;
}

.Calendar--content-buttons {
  width: 75%;
  display: flex;
  align-items: left;
}

.Calendar--content-buttons > button {
  font-family: "Frank Ruhl Libre", serif;
  font-size: 20px;
  margin: 5px 0px 3px 0px;
  width: 150px;
  height: 35px;
  border-radius: 10px;
}

.Calendar--table-button {
  background-color: rgb(116, 110, 110);

  color: white;
}

.Calendar--calendar-button {
  background-color: black;
  color: white;
}

.Calendar--url-button-box {
  display: flex;
  align-items: center;
  justify-content: center;
}

.Calendar--url-button-box > button {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 200px;
  height: 30px;
  font-size: 17px;
  border-radius: 15px;
  background-color: black;
  color: white;
}

.rbc-toolbar > span {
  font-size: 25px; /* Adjust this value as needed */
}

.Calendar--calendar-box {
  width: 75%;
  /* font-size: 25px; */
}
