.Calendar--main-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 10px;
}

.Calendar--detail-window {
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: "Bebas Neue", sans-serif;
}

.Calendar--detail-window > div > p {
  font-size: 20px;
}

.Calendar--content-buttons {
  width: 75%;
  display: flex;
  align-items: left;
}

.Calendar--content-buttons > button {
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: "Bebas Neue", sans-serif;
  font-size: 28px;
  margin: 5px 0px 3px 0px;
  width: 150px;
  height: 35px;
  border-radius: 10px;
}
.Calendar--table-button {
  background-color: rgb(116, 110, 110);
  color: white;
}

.Calendar--calendar-button {
  background-color: black;
  color: white;
}

.Calendar--url-button-box {
  display: flex;
  align-items: center;
  justify-content: center;
}

.Calendar--url-button-box > button {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 8px;
  width: 200px;
  height: 35px;
  font-size: 22px;
  border-radius: 15px;
  background-color: black;
  color: white;
  font-family: "Bebas Neue", sans-serif;
}

.Calendar--url-button-box > button:hover {
  cursor: pointer;
  box-shadow: 0 0 11px rgba(33, 33, 33, 0.7);
}

.rbc-toolbar {
  background-color: rgb(37, 31, 31);
  font-family: "Bebas Neue", sans-serif;
  color: white;
}

.rbc-toolbar > span {
  font-size: 35px;
  font-family: "Bebas Neue", sans-serif;
}

.rbc-toolbar > span > button {
  font-family: "Bebas Neue", sans-serif;
  font-size: 25px;
  color: white;
}

.Calendar--calendar-box {
  width: 75%;
  font-family: "Bebas Neue", sans-serif;
}
