.Data {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.Data--content-buttons,
.Data--content-buttons-mobile {
  width: 75%;
  display: flex;
  align-items: left;
}

.Data--content-buttons-mobile {
  width: 85%;
}

.Data--content-buttons > button,
.Data--content-buttons-mobile > button {
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: var(--main-font);
  font-size: 28px;
  margin: 5px 0px 3px 0px;
  width: 150px;
  height: 35px;
  border-radius: 10px;
}
.Data--content-buttons-mobile > button {
  font-size: 35px;
  height: 40px;
  width: 200px;
}

.Data--content-buttons > button:hover {
  cursor: pointer;
}

.Data--table-button {
  background-color: rgb(37, 31, 31);
  color: rgb(245, 245, 245);
}

.Data--calendar-button {
  background-color: rgb(116, 110, 110);
  color: rgb(245, 245, 245);
}

.Data--tournament-table {
  width: 75%;
}

.Data--tournament-table-mobile {
  width: 85%;
}

.Data--tournament-table .rdt_TableHeadRow {
  background-color: rgb(37, 31, 31);
  color: rgb(245, 245, 245);
  font-family: var(--main-font);
  font-size: 22px;
}

.Data--tournament-table .rdt_TableRow,
.Data--tournament-table-mobile .rdt_TableRow,
.Data--tournament-table .rdt_Pagination,
.Data--tournament-table-mobile .rdt_Pagination {
  background-color: rgb(216, 216, 216);
  font-size: 22px;
  font-family: var(--main-font);
}

.Data--tournament-table-mobile .rdt_Pagination {
  font-size: 20px;
}

.rdt_Pagination > span,
.rdt_Pagination > div,
.rdt_Pagination > div > select {
  font-size: 20px;
  font-family: var(--main-font);
}

.Data--login-to-tournament-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  background-image: linear-gradient(
    90deg,
    rgba(255, 164, 46, 1) 0%,
    rgba(247, 28, 61, 1) 100%
  );
  transition: box-shadow 0.3s;
  font-size: 22px;
  font-family: var(--main-font);
  font-style: italic;
  color: rgb(245, 245, 245);
  border-radius: 20px;
  height: 30px;
  width: 50%;
  margin-left: 15px;
}
.Data--logout-from-tournament-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: red;
  transition: box-shadow 0.3s;
  font-size: 22px;
  font-family: var(--main-font);
  font-style: italic;
  color: rgb(245, 245, 245);
  border-radius: 20px;
  height: 30px;
  width: 50%;
  margin-left: 15px;
}

.Data--login-to-tournament-btn:hover,
.Data--logout-from-tournament-btn:hover {
  cursor: pointer;
  box-shadow: 0 0 11px rgba(33, 33, 33, 0.7);
}

.custom-no-data-background > div > div > div {
  background-color: rgb(216, 216, 216);
}
