.Data--tournament-table {
  margin: 10px 80px 80px;
}

.Data--expanded-data-box {
  display: flex;
  flex-direction: row;
  align-items: center;
  border-bottom: 1px solid black;
}

.Data--expanded-data {
  margin: 10px 25px;
}

.Data--time-remaining {
  display: flex;
  justify-content: center;
  flex: 1;
  font-size: 18px;
  font-weight: 600;
}

.Data--content-buttons > button {
  margin: 5px 5px 3px 0px;
  width: 150px;
  height: 30px;
  font-size: 17px;
  border-radius: 5px;
}

.Data--table-button {
  background-color: black;
  color: white;
}

.Data--calendar-button {
  background-color: rgb(116, 110, 110);
  color: white;
}
