.ElevatorText {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  font-family: var(--main-font);
  font-size: 20px;
}

.ElevatorText--main-text {
  border-top: 2px solid rgb(37, 31, 31);
  border-bottom: 2px solid rgb(37, 31, 31);
  width: 70%;
  margin: 40px 0px;
  padding: 20px;
}
