.filters {
  margin: 20px;
}
.filters-mobile {
  margin: 30px 150px;
}

.filters-form {
  display: flex;
  justify-content: center;
}

.filters-form-mobile {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.filters-form .css-13cymwt-control,
.filters-form-mobile .css-13cymwt-control {
  background-color: rgb(245, 245, 245);
}

.filters-form .css-t3ipsp-control,
.filters-form-mobile .css-t3ipsp-control {
  background-color: rgb(245, 245, 245);
}

.filters-form > div,
.filters-form-mobile > div {
  display: flex;
  justify-content: center;
  flex-direction: column;
  /* font-family: "Bebas Neue", sans-serif; */
  font-family: "PT Serif", serif;
  font-size: 22px;
  margin-left: 10px;
  margin-right: 10px;
}

.filters-form-mobile > div {
  width: 40%;
  font-size: 30px;
}

.filters-form-mobile > div > h3 {
  margin-top: 30px;
  margin-bottom: 10px;
}

.save-button,
.save-button-mobile {
  display: flex;
  transition: box-shadow 0.3s;
  font-size: 22px;
  /* font-family: "Bebas Neue", sans-serif; */
  font-family: "PT Serif", serif;
  justify-content: center;
  align-items: center;
  padding: 5px 15px;
  background-color: rgb(37, 31, 31);
  color: white;
  border-radius: 50px;
  border-width: 0;
  margin-top: auto;
}

.save-button-mobile {
  margin: 20px;
  font-size: 30px;
}

.save-button:hover {
  cursor: pointer;
  box-shadow: 0 0 11px rgba(33, 33, 33, 0.7);
}
