.filters-form {
  display: flex;
  justify-content: center;
  margin-left: 80px;
  margin-right: 80px;
}

.filters-form > div {
  display: flex;
  justify-content: center;
  flex-direction: column;
  margin-left: 10px;
  margin-right: 10px;
}

.save-button {
  display: flex;
  transition: box-shadow 0.3s;
  font-family: "Frank Ruhl Libre", serif;
  padding-right: 17px;
  padding-left: 17px;
  padding-top: 11px;
  padding-bottom: 11px;
  background-color: black;
  color: white;
  border-radius: 50px;
  border-width: 0;
  margin-top: auto;
}

.save-button:hover {
  box-shadow: 0 0 11px rgba(33, 33, 33, 0.7);
}

.Filters--content-selector {
  margin-top: 20px;
  margin-left: 80px;
}

.Filters--content-selector > a {
  margin: 5px;
}
