.login-page {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  /* background-image: url("../../public/login.jpg"); */
  background-color: rgb(216, 216, 216);
  /* background: linear-gradient(
    90deg,
    rgba(255, 164, 46, 1) 0%,
    rgba(247, 28, 61, 1) 100%
  ); */
  /* background-color: #ff847c; */
  background-size: cover; /* Cover the entire container */
  background-repeat: no-repeat; /* Prevent image repetition */
  background-position: center; /* Center the image */ /* background-image: "./public/"; */
}

.login-box {
  position: relative;
  display: flex;
  padding: 50px; /* Add some padding for spacing */
  background-color: rgb(37, 31, 31); /* Background color for the login box */
  border-bottom-left-radius: 15px;
  border-bottom-right-radius: 15px;
  justify-content: center;
  /* color: rgb(216, 216, 216); */
}

.login-form-title {
  width: 100%;
  display: block;
  font-family: "Bebas Neue", sans-serif;
  font-size: 39px;
  /* color: #555; */
  background-image: linear-gradient(
    90deg,
    rgba(255, 164, 46, 1) 0%,
    rgba(247, 28, 61, 1) 100%
  );
  -webkit-background-clip: text; /* For compatibility with some browsers */
  background-clip: text;
  color: transparent; /* Hide the actual text color */
  line-height: 1.2;
  text-align: center;
  margin-bottom: 20px;
  margin-top: 20px;
}

.socials-buttons {
  display: flex;
  font-family: "Montserrat", sans-serif;
}

.facebook-button,
.google-button {
  font-size: 18px;
  line-height: 1.2;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px 40px;
  width: calc((100% - 20px) / 2);
  height: 40px;
  border-radius: 10px;
  box-shadow: 0 1px 5px 0 rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 0 1px 5px 0 rgba(0, 0, 0, 0.2);
  -webkit-box-shadow: 0 1px 5px 0 rgba(0, 0, 0, 0.2);
  -o-box-shadow: 0 1px 5px 0 rgba(0, 0, 0, 0.2);
  -ms-box-shadow: 0 1px 5px 0 rgba(0, 0, 0, 0.2);
  -webkit-transition: all 0.4s;
  -o-transition: all 0.4s;
  -moz-transition: all 0.4s;
  transition: all 0.4s;
  position: relative;
  z-index: 1;
}
.google-button::before,
.facebook-button::before {
  content: "";
  display: block;
  position: absolute;
  z-index: -1;
  width: 100%;
  height: 100%;
  border-radius: 10px;
  top: 0;
  left: 0;
  background: -webkit-linear-gradient(
    45deg,
    rgba(255, 164, 46, 1),
    rgba(247, 28, 61, 1)
  );
  background: -o-linear-gradient(
    45deg,
    rgba(255, 164, 46, 1),
    rgba(247, 28, 61, 1)
  );
  background: -moz-linear-gradient(
    45deg,
    rgba(255, 164, 46, 1),
    rgba(247, 28, 61, 1)
  );
  background: linear-gradient(
    45deg,
    rgba(255, 164, 46, 1),
    rgba(247, 28, 61, 1)
  );
  opacity: 0;
  -webkit-transition: all 0.4s;
  -o-transition: all 0.4s;
  -moz-transition: all 0.4s;
  transition: all 0.4s;
}
.facebook-button {
  color: #fff;
  background-color: #3b5998;
}
.facebook-button i {
  font-size: 30px;
  margin-right: 17px;
  padding-bottom: 3px;
}
.google-button {
  color: #555;
  background-color: #fff;
}
.google-logo,
.facebook-logo {
  width: 30px;
  margin-right: 15px;
  padding-bottom: 3px;
}
.facebook-button:hover:before,
.google-button:hover:before {
  opacity: 1;
  cursor: default;
}
.facebook-button:hover,
.google-button:hover {
  color: #fff;
  cursor: default;
}

.Login--main-form {
  width: 500px;
  margin: 40px 0px;
}

.Login--label {
  font-family: "Bebas Neue", sans-serif;
  font-weight: bold;
  font-size: 22px;
  background-image: linear-gradient(
    90deg,
    rgba(255, 164, 46, 1) 0%,
    rgba(247, 28, 61, 1) 100%
  );
  -webkit-background-clip: text; /* For compatibility with some browsers */
  background-clip: text;
  color: transparent; /* Hide the actual text color */
  line-height: 1.5;
  margin-right: 5px;
  margin-top: 5px;
  margin-bottom: 5px;
}
.Login--password-label-box {
  margin-top: 5px;
  margin-bottom: 5px;
  display: flex;
  align-items: center;
}

.Login--tiny-label {
  font-family: "Bebas Neue", sans-serif;
  font-size: 22px;
  color: #999;
  line-height: 1.5;
  margin-right: 3px;
  margin-top: 5px;
  margin-bottom: 5px;
}

.wrap-input > input {
  font-family: "Montserrat", sans-serif;
  font-size: 18px;
  width: 100%;
  background-color: #f7f7f7;
  border: 1px solid #e6e6e6;
  height: 40px;
  border-radius: 10px;
}
/* =========================================================== */
.Login--login-button {
  -webkit-transition: all 0.4s;
  -o-transition: all 0.4s;
  -moz-transition: all 0.4s;
  transition: all 0.4s;
  cursor: default;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 20px;
  height: 60px;
  background-color: #333;
  border-radius: 10px;
  font-family: "Bebas Neue", sans-serif;
  font-size: 22px;
  color: #fff;
  margin-top: 10px;
}

.Login--login-button > p {
  transition: all 0.4s;
  background-image: linear-gradient(
    90deg,
    rgba(255, 164, 46, 1) 0%,
    rgba(247, 28, 61, 1) 100%
  );
  -webkit-background-clip: text; /* For compatibility with some browsers */
  background-clip: text;
  color: transparent; /* Hide the actual text color */
}

.Login--login-button:hover {
  box-shadow: 0 0 11px rgba(255, 255, 255, 0.7);
}

.Login--register {
  display: flex;
  position: relative;
  justify-content: center;
  bottom: 0;
}

.clickable:hover {
  text-decoration: underline;
  cursor: pointer;
}

.Login--navbar {
  display: flex;
}

.Login--x-btn {
  position: absolute;
  top: 2px;
  right: 10px;
  font-family: "Autour One", sans-serif;
  font-size: 35px;
  background-image: linear-gradient(
    90deg,
    rgba(255, 164, 46, 1) 0%,
    rgba(247, 28, 61, 1) 100%
  );
  -webkit-background-clip: text; /* For compatibility with some browsers */
  background-clip: text;
  color: transparent; /* Hide the actual text color */
  text-align: center;
}

.Login--x-btn:hover {
  text-shadow: 0 0 25px rgba(247, 28, 61, 1);
  cursor: pointer;
}

.Login--registration_succesfull,
.Login--registration_failed {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 10px;
  background-color: rgb(99, 255, 99);
  font-family: "Autour One", sans-serif;
  width: 600px;
  height: 25px;
  border-radius: 15px;
}

.Login--registration_failed {
  background-color: rgb(255, 0, 0);
}

.Login--organizer-player-switch,
.Login--organizer-player-switch-mobile {
  width: 600px;
}

.Login--player-btn,
.Login--organizer-btn {
  font-family: "Bebas Neue", sans-serif;
  font-size: 28px;
  border-top-right-radius: 20px;
  border-top-left-radius: 10px;
  color: rgb(245, 245, 245);
  background-color: rgb(131, 110, 110);
  width: 50%;
}

.chosen {
  background-color: rgb(37, 31, 31);
}
