.Profile--main {
  margin: 0px 0px 0px 50px;
}

.Profile--tmp-buttons {
  display: flex;
  align-items: center;
  justify-content: center;
}
.Profile--tmp-buttons > a {
  display: flex;
  margin: 10px;
}

.Profile--user-data {
  margin: 10px 80px 20px 50px;
  font-size: 20px;
}

.Profile--tournament-table {
  margin: 10px 80px 80px 50px;
}
