.Profile--main {
  margin: 0px 0px 0px 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.Profile--tmp-buttons {
  display: flex;
  align-items: center;
  justify-content: center;
}
.Profile--tmp-buttons > a {
  display: flex;
  margin: 10px;
}

.Profile--user-data {
  display: flex;
  flex-direction: column;
  width: 75%;
}
.Profile--user-data-box {
  display: flex;
  font-size: 20px;
}
.Profile--user-data-box > p {
  margin: 5px 0px 5px 15px;
}

.bold {
  font-weight: 600;
}
.Profile--tournament-table {
  width: 75%; /* Set the width of the DataTable */
}
